server {
  if ($host ~ ^[^.]+\.${DOMAIN_ESCAPED}$) {
    return 301 https://$host$request_uri;
  }

  if ($host = ${DOMAIN}) {
    return 301 https://$host$request_uri;
  }

  listen 80;
  listen [::]:80;
  server_name ${DOMAIN} *.${DOMAIN};
  return 404;
}

server {
  server_name ${DOMAIN} www.${DOMAIN};
  
  location / {
    root /var/www/;
    index index.html;
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ =404;
  }

  # Other configurations here

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /var/www/;
  }

  listen [::]:443 ssl;
  listen 443 ssl;
  ssl_certificate /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}